{% extends 'base.html' %}

{% block content %}
<br>
    <div class="content">
    
        {% for task in draft_tasks %}
        
        <div class="field is-grouped is-grouped-centered">
        <div class="box has-background-warning-light content-sidebar" id="detail-column" style="width:60%">
            <div id="tarea{{forloop.counter}}" class="main-column content columna-padding">
               
                <h1 class="title"><a href="{% url 'tasks:task_detail' pk=task.pk%}">{{task.title|safe}}</a></h1>
                <p>{{task.description|linebreaks|safe|truncatechars:150}}</p>
            </div>

            <div class="second-column">
             <br>
              <br>
                
            </div>
        </div>
        </div>

        {% endfor %}
    </div>

    <div class="field is-grouped is-grouped-centered">
        <a href="{% url 'tasks:tasks_complete' %}">Tareas completadas</a>
    </div>    

{% endblock  %}