{% extends 'base.html' %}

{% block content %}

    <div class="field is-grouped is-grouped-centered">


        <div class="box has-text-centered has-background-link-light">
            <div class="field has-text-centered">
                <h1 class="title">Tu contraseña ha sido reiniciada</h1>
            </div>
            <div class="field content has-text-centered">
                <h2><a href="{% url 'accounts:login' %}">Iniciar sesión</a></h2>
            </div>
    </div>
    </div>

{% endblock  %}